steps:
- task: Docker@0
  displayName: 'Build an image'
  inputs:
    containerregistrytype: 'Container Registry'
    dockerRegistryConnection: ConnectionDocker
    imageName: saurya123789/indianncpldemo
    qualifyImageName: false
    includeLatestTag: true

